# Forex API Keys
VITE_OANDA_API_KEY=
VITE_FOREXCOM_API_KEY=
VITE_ALPACA_API_KEY=
VITE_ALPACA_SECRET=

# Firebase config
VITE_FB_API_KEY=
VITE_FB_AUTH_DOMAIN=
VITE_FB_PROJECT_ID=
VITE_FB_STORAGE=
VITE_FB_MSG_ID=
VITE_FB_APP_ID=

# Telegram Bot
VITE_TG_BOT_TOKEN=
VITE_TG_CHAT_ID=

# Email Alerts (SendGrid)
VITE_SENDGRID_API_KEY=
